body {
    background-color #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    text-align: left;
    margin: 4em;
}
header h1 {
    font-size: 1.5em;
}
article {
    display: flex;
    margin: 4em;
    justify-content:flex-start;
    font-size: 1em;
    max-width: 100%;
    height: auto;
}
}
.rep__pic img {
    max-width: 100%;
    height: auto;
    padding: 1em;
}
.rep__info{
    padding: 1em;
}
.committees {
    padding: 0 0.5em 0 0.5em;
}
.committees h3{
    padding-left: 10%;
    margin: 0;
}
.legislature {
    margin-left: 1em;
}
.legislature h3{
    padding-left: 1em%;
    margin: 0;
}
