body {
    background: linear-gradient(to bottom right,#0085CC, #F9F9F9);
    font-family: Lucida Sans Unicode, Lucida Grande, Sans-Serif;
    margin: 0;
}
header {
    background-color: #003049;
    color: white;
    text-align: left;
    margin: auto;
    height: 8em;
}
header h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 2em 0 0 1em;
}
.main {
    display: flex;
    margin: 4em;
    justify-content:flex-start;
    font-size: 1em;
    max-width: 100%;
    height: auto;
    
}
.rep {
    flex: 1 1 0;
    padding: 2em 2em 1em 2em;
    background-color: rgba(249, 249, 249, 0.3);
    border: 0.5em;
    border-radius: 10%;
}
.rep__pic img {
    max-width: 100%;
    height: auto;
    border: 0.5em;
    border-radius: 10%;
    opacity: 1;
}
.committees {
    flex: 1 1 0;
    padding: 2em 0.5em 0 0.5em;
}
.committees h3{
    padding-left: 10%;
    margin: 0;
}
.committees p {
    padding-left: 10%;
}
.committees__list {
    padding-left: 15%;
}
.legislature {
    flex: 2 1 0;
    margin-left: 1em;
}
.legislature:hover {
    color: 
}
.legislature h3{
    padding-left: 1em%;
    margin: 0;
}
